language: php
php:
  - 7.1
  - 7.2

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction

script:
  - composer test
  - CODECLIMATE_REPO_TOKEN=1f76dc5e5eb88fd2755394e40ded77e4cc353b61dc92f6b651f05b2f1c88dee1 ./vendor/bin/test-reporter
